# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.windsurf
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
.pytest_cache
__pycache__
*.pyc

# Test and Report
playwright-report
test-results
coverage

# Large files
Ifarma.zip
apks/
