-- Adiciona coluna para controlar a ordem de entrega da fila (Múltiplos Pedidos)
ALTER TABLE public.orders 
ADD COLUMN IF NOT EXISTS delivery_sequence INTEGER DEFAULT 0;

-- Adiciona coluna para registrar quando o motoboy chegou no cliente (Botão Cheguei/Buzina)
ALTER TABLE public.orders 
ADD COLUMN IF NOT EXISTS motoboy_arrived_at TIMESTAMPTZ;

-- Comentários para documentação
COMMENT ON COLUMN public.orders.delivery_sequence IS 'Define a prioridade/ordem de entrega para o motoboy (Menor número = Maior prioridade)';
COMMENT ON COLUMN public.orders.motoboy_arrived_at IS 'Data/Hora exata que o motoboy marcou que chegou ao destino';
