-- Atualização de Cargos e Permissões de Equipe

-- 1. Atualizar a restrição de cargos permitido (Role Check)
ALTER TABLE profiles DROP CONSTRAINT IF EXISTS profiles_role_check;
ALTER TABLE profiles ADD CONSTRAINT profiles_role_check CHECK (role IN ('customer', 'merchant', 'manager', 'staff', 'motoboy', 'admin'));

-- 2. Habilitar RLS se não estiver
ALTER TABLE profiles ENABLE ROW LEVEL SECURITY;

-- 3. Política: Gestores e Gerentes podem ver todos os membros da mesma farmácia
DROP POLICY IF EXISTS "Gestores podem ver equipe da farmácia" ON profiles;
CREATE POLICY "Gestores podem ver equipe da farmácia" ON profiles
    FOR SELECT USING (
        EXISTS (
            SELECT 1 FROM profiles AS p
            WHERE p.id = auth.uid() 
            AND (p.role = 'merchant' OR p.role = 'manager')
            AND p.pharmacy_id = profiles.pharmacy_id
        )
    );

-- 4. Política: Gestores e Gerentes podem cadastrar/atualizar membros da mesma farmácia
DROP POLICY IF EXISTS "Gestores podem atualizar equipe" ON profiles;
CREATE POLICY "Gestores podem atualizar equipe" ON profiles
    FOR ALL USING (
        EXISTS (
            SELECT 1 FROM profiles AS p
            WHERE p.id = auth.uid() 
            AND (p.role = 'merchant' OR p.role = 'manager')
            AND p.pharmacy_id = profiles.pharmacy_id
        )
    );

-- 5. Política: Membros da equipe (Staff/Motoboy) podem ver seu próprio perfil
DROP POLICY IF EXISTS "Usuários podem ver seu próprio perfil" ON profiles;
CREATE POLICY "Usuários podem ver seu próprio perfil" ON profiles
    FOR SELECT USING (auth.uid() = id);
