-- Configurações de Integração WhatsApp

-- 1. Criar tabela de configurações se não existir
CREATE TABLE IF NOT EXISTS system_settings (
    key TEXT PRIMARY KEY,
    value TEXT,
    description TEXT,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now())
);

-- 2. Inserir chaves padrão (vazias) para facilitar o preenchimento
INSERT INTO system_settings (key, value, description)
VALUES 
    ('whatsapp_api_url', '', 'URL da API de WhatsApp (Ex: Evolution API ou Z-API)'),
    ('whatsapp_api_key', '', 'Chave de autenticação (API Key / Token)'),
    ('whatsapp_instance_id', '', 'ID da Instância ou Nome do Dispositivo')
ON CONFLICT (key) DO NOTHING;

-- 3. Habilitar RLS e permissões (Apenas Admin pode ler/escrever)
ALTER TABLE system_settings ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "Admins podem gerenciar configurações" ON system_settings;
CREATE POLICY "Admins podem gerenciar configurações" ON system_settings
    FOR ALL USING (
        EXISTS (
            SELECT 1 FROM profiles
            WHERE profiles.id = auth.uid() 
            AND profiles.role = 'admin'
        )
    );
